<!--
  Generated template for the AuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="!(isExisting | async)">
    <ion-item>
        <ion-input #pass0 type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input #pass1 type="password" placeholder="Password Confirm"></ion-input>
    </ion-item>
    <button (click)="signUp(pass0.value, pass1.value)" ion-button>sign up</button>
  </ion-list>

  <ion-list *ngIf="(isExisting | async)">
      <ion-item>
          <ion-input #pass0
                     type="password"
                     (change)="signIn(pass0.value)"
                     placeholder="Password"></ion-input>
      </ion-item>
      <button (click)="signIn(pass0.value)" ion-button>sign in</button>
    </ion-list>
</ion-content>
